{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Home - MedLink{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/cadastro_medicos.css' %}">
    <link rel="stylesheet" href="{% static 'geral/css/base.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{%block 'body'%}
    {%block 'header'%}
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <i class="fa-solid fa-house-medical"></i>MedLink
                </a>
                <div class="right-navbar d-flex gap-4">
                    <a href=" {% url 'cadastro_medico' %} ">
                        <button class="btn btn-primary" type="submit">Sou Médico</button>
                    </a>
                    <abbr title="Sair">
                        <a class="navbar-brand" href=" {% url 'logout' %} ">
                            <i class="fa-solid fa-door-open"></i>
                        </a>
                    </abbr>
                </div>
            </div>    
        </nav> 
    {%endblock%}
    
    <div class="container">
        <div class="title-home mt-4">
            <h3>Seja bem vindo(a) a MedLink, <span class="text-primary fs-2"> {{request.user}} </span></h3>
        </div>

        <form action="{% url 'home' %}" method="GET">
            <div class="input-group mb-3 mt-5 w-75">
                <button class="btn btn-outline-secondary shadow-main-color" type="submit" id="button-addon1"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                <input name="medico" type="text" class="form-control shadow-main-color" placeholder="Busque por profissionais ..." aria-describedby="button-addon1">
            </div>
            
            <div class="especialidade-check d-flex align-items-center mt-4 gap-2">
                {% for item in especialidade %}
                    <input class="form-check-input" type="checkbox" value="{{ item.id }}" name="especialidades" >
                    <span class="badge bg-white text-secondary shadow-main-color">
                        {{ item.especialidade }}
                    </span>
                {% endfor %}
            </div>

            <div class="lista-medicos d-flex gap-5 mt-4">
                {% for medico in medicos %}
                <div class="card-medico shadow-main-color">
                    <div class="row">
                        <div class="col-md-3">
                            <img src=" {{ medico.foto.url }} " class="ft-perfil-card">
                        </div>
                        <div class="col-md">
                            <p style="font-size:20px" >
                                Dr(a). {{ medico.nome }}
                                <i class="fa-solid fa-circle-check text-primary"></i>
                            </p>
                            <p class="p-descricaoMedico" >{{ medico.descricao }}</p>
                        </div>
                    </div>
                        <p class="mt-3">
                            <i class="fa-solid fa-map-location-dot text-primary"></i>
                            {{ medico.bairro }}, {{ medico.rua }} , {{ medico.numero }}
                        </p>
                        <p class="mt-3">
                            <i class="fa-solid fa-calendar-days text-primary"></i>Proxima data:
                            {% if medico.proxima_data %}
                                {{medico.proxima_data}}
                            {%else %}
                                Aguarde uma data
                            {%endif%}
                        </p>
                        <a href="{% url 'escolher_horario' medico.id %}" class="btn btn-primary">Agendar</a>
                </div>
                {% endfor %}
            </div>
        </form>

    </div>
    

    

    
{%endblock%}