.navbar-brand{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor:pointer;
}

.bg-login{
    font-size:38px;
    font-weight: 500;
    color:white;

    display:flex;
    align-items: center;
    gap:10px;
}
.body-login{
    height:100vh;
}
.bg-login-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* home */
body{
    background-color: #f0f0f0;
}

.form-control:focus {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    border-color: #ced4da;
}

/* Card */
.card-medico{
    width: 45%;
    background: white;
    padding:16px;
    border-radius: 6px;
}
.ft-perfil-card{
    width: 90px;
    height: 90px;
    border-radius:45px;
}
.p-descricaoMedico{
    overflow-y: auto;
    height:120px;
}


/* ESCOLHER HORARIO */
.card-escolher-horario{
    width: 200px;
    border:2px solid red;
}
/* */