{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Venha para MedLink{% endblock %}

{% block 'head' %} 
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/img' %}">
{% endblock %}

{%block 'body'%}
    {%block 'header'%}
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <i class="fa-solid fa-house-medical"></i>MedLink
                </a>
                <div class="d-flex gap-2">
                    <a href="{% url 'cadastro' %}">
                        <button class="btn btn-outline-light" type="submit">Criar Conta</button>
                    </a>
                    <a href="{% url 'login' %}">
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </a>
                </div>
            </div>    
        </nav> 
    {%endblock%}
    
    <div class="container d-flex">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="fs-1" >Venha para MedLink</h1>
            <p>Se voce é medico, alavanque suas consultas na nosssa plataforma, então crie uma conta na MedLink.</p>
            <form>
                <button class="btn btn-primary" type="submit">Registre-se</button>
            </form>
        </div>
        <div>
            <img class="mt-3" width="350px" src="{% static 'landingpage/img/doctors.png' %}" >
        </div>
    </div>
    

    
{%endblock%}